body{
	margin:0;
	padding:0;	
	font-family: Raleway, Verdana, sans-serif;
	color:#aac;
	background-color:#323644;
    background-image:url("img/bg.jpg");
    background-size:cover;
    background-attachment:fixed;
}
div {
    user-select: none;
    moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
a {
	color:#a5adcc;
    text-decoration:none;
	transition: text-shadow 0.3s, background-color 0.3s;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Dosis, Georgia, serif;
    margin:0;
    padding:0;
    padding-bottom:5px;
    border-bottom:1px solid #88a;
}
a:hover{
	text-shadow: 0px 0px 10px #fff;
}
#wrapper-content {
    margin:0 auto;
    width: 100%;
    box-sizing: border-box;
}
#header{
	display:none;
}
#nav{
    display:flex;
	box-sizing: border-box;
	background-color:#323644;
}
#nav #button-update{
    color: #a88 !important;
}
#nav ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}
#nav ul li{
	float:left;
}
#nav ul li a{
	display:block;
	margin:0;
    padding: 5px 10px;
	text-decoration:none;
	box-sizing: border-box;
	text-transform:uppercase;
}
#nav ul li a:hover{
    background-color:#222;
}
.nav-active, .nav-active:hover {
    background-color: #596077;
}
#content {
    box-sizing: border-box;
}
#desc{
    background-color: #596077;
}
#desc-content {
    padding: 5px;
}
#load {
    background-color: #596077;
    padding: 5px;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
}
#load p{
    padding:0;
    margin:5px;
}
#load img{
    margin-bottom:10px;
}
#content ul {
    list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}
#content ul .member, #content ul .game{
    display:flex;
    justify-content:space-between;
    margin:0;
    padding:0;
    width:100%;
    background-color:#596077;
    border-bottom:1px solid #88a;
}
#content ul .member:hover, #content ul .game:hover  {
    background-color: #88a;
    color: #222;
}
.member, .game {
    display: block;
    box-sizing: content-box;
    max-width: 100%;
    cursor: pointer;
    z-index: 1;
}
.member-avatar, .game-avatar, .member-info .member-name, .member-rating {
    float: left;
    padding: 0;
    margin: 0;
}
.member-order {
    width: 25px;
    max-width:25px;
    font-weight:bold;
    text-align: center;
}
.member-avatar {
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    box-sizing: border-box;
}
.game-avatar {
    max-width: 64px;
    width:64px;
    height:30px;
    max-height:30px;
    background-repeat:no-repeat;
    background-size:contain;
    box-sizing: border-box;
}
.member-info, .game-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    width: 100%;
}
.game-info{
    padding:0;
}
.member-name, .game-title {
    margin-left:5px;
    text-transform: uppercase;
}
.game-desc{
    display:none;
}
.member-rating p{
    margin:0;
    padding:0;
    font-size:0.8em;
}
.rating{
    display:inline-block;
    padding:0 10px;
}
.member-details, .game-details {
    display: none;
    margin: 0 10px;
    text-align: center;
    background-color: #444a5b;
    color: #aac;
    box-sizing: border-box;
    z-index: 2;
}
.member-progress{
    margin:0;
    padding:0;
    list-style-type:none;
}
.member-progress li, .game-completed-by li{
    display:flex;
    align-items:center;
    border-bottom:1px solid #596077;
}
.m-game-image {
    margin: 0;
    padding: 0;
    max-height: 50px;
}
.g-member-image {
    margin: 2px;
    padding: 0;
    max-height: 35px;
}
.m-game-info, .g-member-info {
    display: block;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 10px;
}
.m-game-title, .g-member-name { float: left; }
.m-game-completion, .g-member-completion, .m-game-times { float: right; }
.m-game-completion, .g-member-completion {
    margin: 0;
    padding: 0;
    height: 20px;
    width: 50%;
    max-height: 20px;
    max-width: 200px;
    background-image: url('img/progress.png');
    border: 1px solid #596077;
    color: #aac;
}
.m-game-times, .g-member-times {
    margin: 0 5px;
    font-size: 0.9em;
    color: #596077;
}
#footer{
    text-align:center;
    padding:5px;
}