body{
	margin:0;
	padding:0;	
	font-family: Raleway, Verdana, sans-serif;
	color:#aac;
	background-color:#323644;
    background-image:url("img/bg.jpg");
    background-size:cover;
    background-attachment:fixed;
}
div {
    user-select: none;
    moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
a {
	color:#a5adcc;
    text-decoration:none;
	transition: text-shadow 0.3s, background-color 0.3s;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Dosis, Georgia, serif;
    margin:0;
    padding:0;
    padding-bottom:5px;
    border-bottom:1px solid #88a;
}
a:hover{
	text-shadow: 0px 0px 10px #fff;
}
#wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 960px;
    box-sizing: border-box;
}
#header{
	height:100px;
    padding:40px;
    text-transform:uppercase;
    font-size:1.2em;
    letter-spacing:0.6em;
	box-sizing: border-box;
}
#nav{
	height:50px;
	box-sizing: border-box;
	background-color:#323644;
}
#nav #button-update{
    float:right;
}
#nav ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}
#nav ul li{
	float:left;
}
#nav ul li a{
	display:block;
	margin:0;
	padding:15px 20px;
	text-decoration:none;
	box-sizing: border-box;
	text-transform:uppercase;
	letter-spacing:0.2em;
}
#nav ul li a:hover{
    background-color:#222;
}
.nav-active, .nav-active:hover {
    background-color: #596077;
}
#content {
    box-sizing: border-box;
}
#desc {
    position:relative;
    background-color: #596077;
}
#desc-content {
    padding: 20px;
}
#desc-content p{
    margin: 10px 0 0 0;
}
#load {
    background-color: #596077;
    padding: 20px;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
}
#load p{
    padding:0;
    margin:5px;
}
#load img{
    margin-bottom:10px;
}
#content ul {
    list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}
#content ul .member, #content ul .game{
    display:flex;
    justify-content:space-between;
    margin:0;
    padding:5px;
    width:100%;
    background-color:#596077;
    border-bottom:1px solid #88a;
}
#content ul .member:hover, #content ul .game:hover  {
    background-color: #88a;
    color: #222;
}
.member {
    display: block;
    box-sizing: content-box;
    max-width: 100%;
    cursor: pointer;
}
.game { cursor:pointer; }
.member-avatar, .member-info .member-name, .member-rating {
    float: left;
    padding: 0;
    margin: 0;
}
.member-order {
    width: 64px;
    max-width:64px;
    text-align: center;
    font-size:1.2em;
}
.member-avatar {
    min-width: 64px;
    min-height: 64px;
    max-width: 64px;
    max-height: 64px;
    box-sizing: border-box;
    border: 4px solid #88a;
}
.member-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    max-width: 90%;
}
.member-name {
    margin-left: 20px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.member-rating p{
    margin:0;
    padding:0;
    font-size:0.8em;
}
.rating{
    display:inline-block;
    padding:20px;
}
.member-details {
    display: none;
    margin: 0 100px;
    text-align: center;
    background-color: #444a5b;
    color: #aac;
    box-sizing: border-box;
}
#wrapper-leaderboards {
    position: fixed;
    display:none;
    align-content:center;
    justify-content:center;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.6);
    z-index:1;
}
#leaderboards {
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    top: 10%;
    width: 700px;
    height:auto;
    max-height: 80%;
    padding: 10px;
    overflow-y: scroll;
    background-color: #444a5b;
}
#game-statistics ul { list-style-type: none; }
.member-progress, .game-leaderboards {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.member-progress li, .game-completed-by li, .g-member{
    display:flex;
    align-items:center;
    border-bottom:1px solid #596077;
}
.m-game-image {
    margin: 0;
    padding: 0;
    max-height: 36px;
    min-height:36px;
}
.g-member-image {
    margin: 2px;
    padding: 0;
    max-height: 35px;
    min-height: 35px;
}
.m-game-info, .g-member-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 10px;
}
.m-game-title, .g-member-name { }
.m-game-completion, .g-member-completion, .m-game-times { float: right; }
.m-game-completion, .g-member-completion {
    margin: 0 10px;
    padding: 0;
    height: 20px;
    width: 200px;
    min-width: 200px;
    background-image:url('img/progress.png');
    border: 1px solid #596077;
    color: #aac;
}
.m-game-times, .g-member-times {
    font-size: 0.9em;
    color: #596077;
}
#game-choice {
    display:flex;
    justify-content:center;
    padding-bottom:10px;
}
#game-choice .game-choice-checkbox { margin-left:20px; }
#game-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: #596077;
}
.game {
    width: 30%;
    max-width: 300px;
    height: 145px;
    margin: 5px;
    background-size: 300px;
    background-position: center;
    background-repeat:no-repeat;
    text-align: center;
    border: 2px solid #88a;
    box-sizing: border-box;
    transition: background-size ease-out 0.5s;
}
.game:hover{
    background-size:380px;
}
.game-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 0 5px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    overflow: hidden;
    transition: background-color linear 0.5s, opacity 0.5s;
}
.game:hover .game-info {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
}
.game-rating{ font-size:1.5em; }
.game-desc{ font-size:0.9em; }
.rated-1, .rated-2, .rated-3 {
    display:block;
}
#footer {
    text-align: right;
    font-size: 0.9em;
    padding: 10px 0;
}