# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.staging.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/styles/css
src/img/psd
config.json
/out
package-lock.json
/api/update.json
/api/games.json
/api/log.json
/api/members.json
/api/blog.json
.eslintcache
config.dev.json
config.prod.json
config.staging.json
