@import url(https://fonts.googleapis.com/css?family=Cardo|Cinzel)
@import 'vars/colors'
@import 'vars/fonts'

.flex-row
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
.flex-column
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
.wrapper-main
  display: flex
  flex-direction: column
  align-items: center
  background-image: url('../../img/bg.jpg')
  background-attachment: fixed
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  width: 100%
  height: 100vh 
  font-family: $font-cardo
.header
  width: 100%
  height: 70px
  justify-content: space-evenly
  background-color: $superdarkgrey
  color: $lightgrey
  font-family: $font-cinzel 
  p 
    margin: 0
  .p-big
    font-size: 1.5em
    letter-spacing: 0.3em
  div 
    margin: 10px
.wrapper-nav
  width: 100%
  height: 100px 
  background-color: $darkgrey 
  color: $superlightgrey
  font-family: $font-cardo
  font-size: 0.8em
  text-transform: uppercase
  letter-spacing: 2px
  ul
    margin: 0
    padding: 0
    height: 100%
    list-style-type: none
    li 
      border-right: 3px solid $superdarkgrey
      height: 100% 
      width: 20% 
      box-sizing: border-box
      &:hover
        background-color: $superdarkgrey
        cursor: pointer
      &.tab-active
        background-color: $superdarkgrey
      p 
        margin: 10px 0 0 0
      i 
        font-size: 1.4em
.wrapper-middle
  display: flex
  flex-direction: row 
  width: 100%
  max-width: 1300px
  height: 100%
.wrapper-content
  width: 70%
  height: 100%
  padding: 10px
  background-color: $superlightgrey
.wrapper-miniheader
  width: 100%
  height: 100px
  padding: 0 20px
  box-sizing: border-box
  color: $lightgrey
  font-family: $font-cinzel
  text-transform: uppercase
  letter-spacing: 0.3em
  font-size: 2em
  background-color: $superdarkgrey
  background-image: url('../../img/miniheader.png')
  background-repeat: no-repeat
  background-position-x: right
  background-size: cover
  p 
    margin: 0
    text-shadow: 0px 0px 5px #000
  i
    margin-right: 20px
    font-size: 2.3em
.wrapper-sidebar
  width: 30%
  height: 100%
  background-color: $lightgrey

.button
  padding: 5px 10px
  border-left: 1px solid $lightgrey
  p
    margin: 0 10px
  &:hover
    color: $lightyellow
    cursor: pointer