@import 'vars/colors'
@import 'vars/fonts'
    
.page-blog
  div
    margin-bottom: 10px
.blog-entry
  box-sizing: border-box
  padding: 10px
  background-color: $darkbluetransparent
  box-shadow: 0 0 20px $newdark
  h1
    margin: 0
    font-size: 1.8em
    font-family: $font-cinzel
  h2
    margin: 0
    font-size: 1.2em
    text-align: right
    font-family: $font-cinzel
    border-bottom: 1px solid $newmediumgrey
    margin-bottom: 10px
  p
    font-size: 1em
    padding: 0 1em 