@import 'vars/colors'
@import 'vars/fonts'
    
.wrapper-page
  padding: 10px
  box-sizing: border-box
  background-color: $lightestgreyever
  p
    margin: 0 0 10px 0
.blog-entry
  margin-bottom: 10px
  box-sizing: border-box
  padding: 10px
  background-color: $superlightgrey
  h1 
    margin: 0
    font-size: 1.8em
    font-family: $font-cinzel
  h2 
    margin: 0
    font-size: 1.2em
    text-align: right
    font-family: $font-cinzel
    border-bottom: 1px solid $darkgrey
    margin-bottom: 10px
  p 
    font-size: 1.1em
    color: $superdarkgrey
    padding: 0 1em
  