@import 'vars/colors'
@import 'vars/fonts'

.wrapper-profile
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  align-items: center
  overflow: hidden
  margin: 0
  padding: 10px
  width: 100%
  box-sizing: border-box
  background-color: $superlightgrey
.wrapper-profile > *
  width: 100%
.profile-section
  border-top: 1px solid $lightgrey
  margin-bottom: 20px 
.profile-section-user, .profile-section-admin
  padding: 10px 30px
  background-color: rgba($superlightgrey, 0.8)
  h3
    margin: 0 0 20px 0
  input
    width: 70%
  ul
    list-style-type: none
    margin: 0
    padding: 0
  ul li
    padding: 5px
    border-bottom: 1px solid $mediumgrey
    border-top: 1px solid $superlightgrey
.profile-management-member
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  height: 32px
  border-bottom: 1px solid $darkgrey