@import 'vars/colors'
@import 'vars/fonts'
    
.ranking-list
    list-style-type: none
    margin: 0
    padding: 0
    overflow: hidden
    width: 100%
.member
    margin: 0
    padding: 0
    width: 100%
    background-color: $superlightgrey
    border-bottom: 1px solid $lightestgreyever 
    box-sizing: border-box
    cursor: pointer
    justify-content: space-between
.member-position
    width: 64px
    max-width: 64px
    text-align: center
    font-size: 1.2em
.member-avatar
    min-width: 64px
    min-height: 64px 
    max-width: 64px 
    max-height: 64px 
    box-sizing: border-box 
    padding: 4px
.member-info
    align-items: center
    justify-content: space-between
    padding: 0 20px
    width: 100%
    max-width: 90%
.member-name
    text-transform: uppercase
.member-rating-score
    display: flex
    padding: 5px
    width: 50px
    justify-content: space-evenly