@import 'vars/colors'
@import 'vars/fonts'
@import 'vars/media'
    
.ranking-list
    list-style-type: none
    margin: 0
    padding: 0
    overflow: hidden
    width: 100%
.member
    margin: 0
    padding: 0
    width: 100%
    box-sizing: border-box
    cursor: pointer
    justify-content: space-between

.member-summary
    width: 100%
    background-color: $contentbgtransparent
    border-bottom: 1px solid $mediumgrey
    border-top: 1px solid $superlightgrey
.member-details
    width: 100%
    padding: 0 55px
    box-sizing: border-box
    &:first-child
        border-top: none !important
    @media (max-width: $small-netbooks)
        padding: 0

.member-position
    display: flex
    justify-content: center
    align-items: center
    width: 64px
    max-width: 64px
    height: 100%
    text-align: center
    font-size: 1.2em
    border-right: 1px solid $mediumgrey
    @media (max-width: $tablets)
        display: none
.member-avatar
    min-width: 64px
    min-height: 64px 
    max-width: 64px 
    max-height: 64px 
    box-sizing: border-box 
    padding: 4px
    border-left: 1px solid $superlightgrey
    @media (max-width: $tablets)
        display: none
.member-info
    align-items: center
    justify-content: space-between
    padding: 0 20px
    width: 100%
    max-width: 90%
    @media (max-width: $tablets)
        max-width: 100%
        padding: 0 5px
.member-name
    text-transform: uppercase
.member-rating-score
    display: flex
    padding: 5px    
    width: 50px
    justify-content: space-evenly
    @media (max-width: $small-tablets)
        padding: 5px 0

.m-game 
    width: 100%
    height: 37px
    align-items: center
    background-color: $contentbgtransparent
    border-bottom: 1px solid $mediumgrey
    border-top: 1px solid $superlightgrey
.m-game-logo
    margin: 0
    padding: 0
    min-height: 37px
    max-height: 37px
    @media (max-width: $tablets)
        display: none
.m-game-info
    display: flex
    width: 100%
    align-items: center
    justify-content: space-between
    margin: 0 10px
.m-game-times
    font-size: 0.9em
    color: $superlightgrey
.m-game-title
    margin-left: 5px
.m-game-completion
    position: relative
    min-width: 200px
    height: 15px
    margin-right: 7px
    border: 1px solid $darkgrey
    @media (max-width: $small-tablets)
        border: none
        min-width: 100px
.m-game-completion-timer
    @media (max-width: $tablets)
        display: none
.m-game-completion-progress
    position: absolute
    height: 100%
    background-color: $superlightgrey
    @media (max-width: $small-tablets)
        display: none
.m-game-completion-percentage
    position: absolute
    width: 100%
    font-size: 0.8em
    text-align: center
