$lightyellow: #b4b59d
$superlightgrey: #C7C5E3
$lightgrey: #9e9db5
$mediumgrey: #7b7a8d 
$darkgrey: #242630
$superdarkgrey: #141620
// $lightgrey: #E0E0E2
// $mediumgrey: #B5BAD0
// $darkgrey: #7389AE
// $superdarkgrey: #416788