// full colours
$lightyellow: #b4b59d
$lightestgreyever: #E9E9F5
// $oldsuperlightgrey: #C7C5E3
$lightgrey: #9e9db5
$mediumgrey: #7b7a8d 
$darkgrey: #242630
$superdarkgrey: #141620


$superlightgrey: #BEC9E0

$black: #000
$newdark: #040404
$newmediumgrey: #545281
$darkblue: #293251

$darkred: #1e1012

$darkbluetransparent: rgba(#293251, 0.7)
$darkredtransparent: rgba(#1e1012, 0.7)

$tier4: #fdc000
$tier3: #c1c1c1
$tier2: #915f0f
$tier1: #58665a

$tier4-muted: #a47b00
$tier4-transparent: #403000ad