:root {
  --red: #ff0000;
  --black: #040404;
  --white: #f0f0f0;
  --light: #e0e0e0;
  --shadow: #141414;

  --ash-01: #9e9db5;
  --ash-02: #7b7a8d;
  --ash-03: #9895db;
  --ash-04: #545281;

  --dust-01: #c9d6f1;
  --dust-02: #BEC9E0;
  --dust-03: #91a0bb;
  --dust-04: #838ca7;
  --dust-05: #293251;
  --dust-06: #282f44;
  --dust-07: #141620;
  --dust-08: #09090e;

  --gray-01: #eeeff5;
  --gray-02: #d0d0d0; 
  --gray-03: #c0c0c0; 
  --gray-04: #afafaf; 
  --gray-05: #979797;

  --yellow-01: #fdc000;
  --yellow-02: #a47b00;
  --yellow-03: #8e6c00;

  --green-01: #62ad3e;
  --green-02: #32a042;
  --green-03: #184e20;
  --green-04: #335621;
  --green-05: #546c48;
}