.theme-dust {
  --core-primary-text: var(--dust-08);
  --core-secondary-text: var(--dust-07);
  --core-tertiary-text: #0a0a0a;
  --core-extra-bg: var(--dust-03);
  --core-primary-bg: var(--dust-02);
  --core-secondary-bg: var(--dust-01);
  --core-tertiary-bg: var(--ash-01);

  --semantic-color--tier-4: #fdc000;
  --semantic-color--tier-4--muted: #684f00;
  --semantic-color--tier-3: #f5f5f5;
  --semantic-color--tier-3--muted: #979797;
  --semantic-color--tier-2: #ff6b1f;
  --semantic-color--tier-2--muted: #a14719;
  --semantic-color--tier-1: #32a042;
  --semantic-color--tier-1--muted: #184e20;

  --semantic-color--idle: var(--dust-04);
  --semantic-color--interactive: var(--ash-04);
  --semantic-color--active: #0a0a0a;
  --semantic-color--disabled: var(--ash-02);

  // TODO - START
  --semantic-color--success: #62ad3e;
  --semantic-color--success-strong: #335621;
  --semantic-color--success-muted: #546c48;
  // TODO - END
  --semantic-color--warning: #fdc000;
  --semantic-color--warning-strong: #fdc000;
  --semantic-color--warning-muted: #a47b00;
  --semantic-color--error: #582e34;
  --semantic-color--error-strong: #d38893;
  --semantic-color--error-muted: #1e1012;

  --semantic-color--progress--track: #2e0a0a;
  --semantic-color--progress--thumb: #890000;

  --semantic-color--link-normal: #11366e;
  --semantic-color--link-hover: #11366e;
  --semantic-color--link-visited: #11186e;
  --semantic-color--link-muted: #afafaf;
  --semantic-color--section-update--bg: var(--dust-08);
  --semantic-color--section-update--text: #f0f0f0;

  --semantic-color--switch-track: var(--ash-04);
  --semantic-color--switch-thumb: #f0f0f0;
  --semantic-color--switch-track--checked: var(--dust-02);
  --semantic-color--switch-thumb--checked: #f0f0f0;
  --semantic-color--switch-track--disabled: var(--ash-02);
  --semantic-color--switch-thumb--disabled: #f0f0f0;

  --element-color--header-bg: var(--dust-02);
  --element-color--header-text: var(--dust-08);

  --element-color--button-bg: var(--ash-01);
  --element-color--button-text: var(--dust-07);
  --element-color--button-border: var(--ash-04);
}